<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\UrlInterface">
        <plugin name="training_test" type="Training\Test\Plugin\Model\Url" />
    </type>
<!--    <type name="Magento\Framework\View\Element\Template">
        <plugin name="training_test_2" type="Training\Test\Plugin\Block\Template" />
    </type>-->
    <!--Плагин отключен из-за ошибки в Magento 2.4-->
    
<!--    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="training_test_3" type="Training\Test\Plugin\Controller\Product\View" />
    </type>-->
    <!--Плагин отключен, чтобы не конфликтовать с обсервером-->
    <preference for="Magento\Framework\App\FrontControllerInterface" type="Training\Test\App\FrontController"/>
</config>
