<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_TestOM::testom" title="TestOM" module="Training_TestOM" sortOrder="20" action="testom" resource="Training_TestOM::testom"/>
    </menu>
</config>
